*.out
**/*.o
**/*.a
**/*.exe
*.sw[op]
.ycm_extra_conf.py
*.zip
*.rar
*.txt
*.doc[x]
lib
*.gch

# latex
*.aux
*.log
*.pdf
*.dvi
*.out
*.fdb_latexmk
*.fls
media

.syntastic_cpp_config

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
